body {
	background-color: #f3f3f3;
}

.anekdot {
	/*background-color: white;*/
}

.anekdot-header {
	/*margin-top: 70px;*/
	/*padding-bottom: 5px;*/
	/*background-color: white;*/
	/*color: #00B0E8;*/
}

.sidebar {
	/*margin-top: 40px;*/
}

.ratio {
	float: left;
	margin-left: 40px;
	/*background-color: white;*/
}

.share-div {
	float: left;
	margin-top: 6px;
}

.anek-block {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
	margin-bottom: 15px;
}

.info-add {
	float: left;
}

.like {
	margin: 0px;
	padding: 0px;
}

.unlike {
	margin: 0px;
	padding: 0px;
}

.main-content-block {
	margin-top: 30px;
}

h4 {
	color: black;
}


.navbar-default {
    height: 80px;
	background-color: #636262;
}

.navbar-header img {
    margin-top: 17px;
	margin-left: -20px;
}

.header2 {
	height: 80px;
    margin-left: 45px;
}

.header3 {
	font-size:20px;
	margin-top: 15px;
	text-align:center;
	color:#FFFFFF;
	width:auto;
	height:auto;
}

.header4 {
	font-size: 12px;
	color:#b3153f;
	text-align:center;
}

.menu a {
    height: 80px;
    color: #FFFFFF !important;
    padding:30px 6px 0px !important;
	font-size:18px;
}

.menu a:hover {
    height: 100px;
    background-color: #b3153f !important;
}

.active {
	height: 100px !important;
	background-color: #b3153f !important;
}

.footer {
	background-color: #636262;
	height: 50px;
}

.rubricdisplay a {
	text-decoration: none;
}

.activerubric a {
	color: #FFFFFF;
	float: left;
	background-color: #00B0E8;
	padding: 5px;
	margin: 3px 3px;
	border-radius: 3px;
}

.notactive {
	padding: 5px;
	float: left;
	color: #00B0E8;
	background-color: #f3f3f3;
	margin: 3px 3px;
	border-radius: 3px;
}

.notactive:hover {
	color: #FFFFFF;
	float: left;
	background-color: #00B0E8;
	padding: 5px;
	margin: 3px 3px;
	border-radius: 3px;
}

.about-rubric {
	clear: both;
	padding-top: 20px;
}

.img-top-rubric {
	width: 180px;
	margin: 20px 0 0 10px;
}

.div-top-rubric {
	background-repeat: no-repeat;
	background-color: white;
	width: 200px;
	height: 205px;
	float: left;
	margin-top: 20px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
}

.div-top-rubric-1 {
	background-image: url("/static/dizain/anek-background-1.png");
}

.div-top-rubric-2 {
	background-image: url("/static/dizain/anek-background-2.png");
}

.div-top-rubric-3 {
	background-image: url("/static/dizain/anek-background-3.png");
}

.div-top-rubric-4 {
	background-image: url("/static/dizain/anek-background-4.png");
}

.div-top-rubric-5 {
	background-image: url("/static/dizain/anek-background-5.png");
}

.div-top-rubric-6 {
	background-image: url("/static/dizain/anek-background-6.png");
}

.div-top-rubric-7 {
	background-image: url("/static/dizain/anek-background-7.png");
}

.div-top-rubric-8 {
	background-image: url("/static/dizain/anek-background-8.png");
}

.div-top-rubric-anek {
	background-color: white;
	width: 245px;
	height: 205px;
	margin-top: 20px;
	float: left;
	margin-left: 5px;
	box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
}

.anek-count {
	float: right;
	margin: 10px 10px 0 0;
}

.anek-rubric {
	margin: 30px 0 0 140px;
}

@font-face{
	font-family:"Cabra kadabra";
	src:url("/static/dizain/cabra.otf");
}

.anek-title {
	font-size: 40px;
	font-family: "Cabra kadabra";
	color: white;
	margin-top: 80px;
	text-align: center;
}

.anek-popular {
	font-size: 24px;
}

.like-anekdot {
	float: right;
	margin: 10px 15px 0 0;
}

.like-anekdot-text {
	margin-top: 40px;
	width: 245px;
	height: 120px;
}

.like-anekdot-text-1 {
	display: table-cell;
  	vertical-align: middle;
	text-align: center;
	margin-top: 40px;
	width: 245px;
	height: 120px;
	padding: 0 2px 0 2px;
}

.share-icons {
	margin-top: 15px;
	margin-left: 70px;
}

.share {

}

.top9-user {
	background-color: white;
	border-radius: 12px;
	box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.5);
	margin-bottom: 10px;
}

.top9-user div {
	display: table-cell;
  	vertical-align: middle;
	text-align: center;
	padding: 0 2px 0 2px;
	font-size: 12px;
}

.rubrik-img {
	width: 450px;
	margin-bottom: 20px;
	border-radius: 10px;
}