{% extends 'main.html' %}

{% block login %}
<div>
    <form class="login" action="/auth/login/" method="POST">
        {% csrf_token %}
        <!--<label for="username">Имя пользователя</label>-->
        <!--<input type="text" name="username" i d="username">-->
        <div class="form-group">
            <label for="username">Логин</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <!--<label for="password">Имя пользователя</label>-->
        <!--<input type="password" name="password" id="password">-->
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        {% if login_error %}
        <label class="error">{{ login_error }}</label>
        {% endif %}<br>
        <input class="button" type="submit" value="Войти">
    </form>
</div>
{% endblock %}
{% block enter %}
{% endblock %}