{% extends 'main.html' %}

{% block content %}
    <h1>Мой ТОП-9 анекдотов</h1>
    {% for anekdot in anekdots_page %}
                        <div class="col-md-12 anek-block">
                            <div class="anekdot-header"><a href="{{ site.url }}/{{ anekdot.rubric.url }}">{{ anekdot.rubric.titl_for_top }}</a></div>
                            <div class="anekdot">
                                {% autoescape off %}{{ anekdot.text }}{% endautoescape %}<br>
                                <div class="share share-div" data-url="{{ site.url }}/anekdot/{{ anekdot.id }}" data-title="Заголовок страницы" data-description="{% autoescape off %}{{ anekdot.text }}{% endautoescape %}"></div>
                                <div class="ratio">
                <form method="POST">
                    {% csrf_token %}
                    <span id="anek_korzina{{ anekdot.id }}"></span>
                    <span class="glyphicon glyphicon glyphicon-minus btn remove_mytop" id="{{ anekdot.id }}" type="submit" title="Удалить анекдот из ТОП-а"></span>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up btn like" id="{{ anekdot.id }}" type="submit" title="Нравится анекдот"></span>
                    <span id="anek{{ anekdot.id }}">{{ anekdot.rating }}</span>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down btn unlike" id="{{ anekdot.id }}" type="submit" title="Не нравится анекдот"></span>
                </form>
            </div>
        </div></div>
    {% endfor %}
{% endblock %}
{% block pages %}
{% endblock %}