{% extends 'main.html' %}
{% block content %}
{% endblock %}
{% block enter %}
{% endblock %}
{% block pages %}
{% endblock %}
{% block login %}
<p>На указанную почту мы выслали письмо с инструкцией по востановлению пароля. ВАЖНО! Инструкция высылается только в том случае, если существует пользователь с указанным емайлом.</p>

<p>Если Вы не получили письмо, пожалуйста, проверьте правильность указания е-майла. Также проверьте папку "Спам".</p>

{% endblock %}