{% extends 'main.html' %}
{% block content %}
{% endblock %}
{% block enter %}
{% endblock %}
{% block pages %}
{% endblock %}
{% block login %}
{% if validlink %}

<p>Введиде ваш новый пароль дважды.</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">Новый пароль:</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">Подтверждение пароля:</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="Изменить пароль" /></p>
</form>

{% else %}

<p>Ссылка на восстановление пароля недействительна. Пожалуйста, создайте новый запрос на восстановление пароля.</p>

{% endif %}

{% endblock %}