{% extends 'main.html' %}
{% block content %}
{% endblock %}
{% block enter %}
{% endblock %}
{% block pages %}
{% endblock %}
{% block login %}

<p>Поздравляем! Вы успешно изменили свой пароль. Теперь Вы можете войти в свой аккаунт, используя новый пароль.</p>

<p><a type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Войти</a></p>

{% endblock %}