{% extends 'main.html' %}
{% block content %}
{% endblock %}
{% block enter %}
{% endblock %}
{% block pages %}
{% endblock %}
{% block login %}
<p>Забыли пароль? Укажите е-майл, и мы вышлем Вам инструкцию по восстаовлению пароля.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Email address:</label> {{ form.email }} <input type="submit" value="Восстановить пароль" /></p>
</form>
{% endblock %}