{% extends 'main.html' %}

{% block login %}
<p>Зарегистрируйтесь на сайте onekdoti.ru, и в 1 клик собирайте понравившиеся анекдоты в свою коллекцию!</p><br>
<div>
    <form class="register" action="/auth/register/" method="POST">
        {% csrf_token %}
        <!--{{ form }}-->
        {% for field in form %}
        <div class="form-group">
        <label for="id_{{ field.name }}">{{ field.label }}</label>
        {{ field }}
        {{ field.help_text }}
        {{ field.errors }}
            </div>
        {% endfor %}
        <input class="button" type="submit" value="Зарегистрироваться">
    </form>
</div><br>
{% endblock %}
{% block content %}
{% endblock %}
{% block enter %}
{% endblock %}
{% block pages %}
{% endblock %}