{% extends "main.html" %}
{% block meta %}
<meta name="description" content="Полный список всех рубрик с анекдотами на нашем сайте.">
<meta name="keywords" content="Все рубрики с анекдотами">
<title>Все рубрики с анекдотами</title>
{% endblock %}
{% block content %}
<div class="col-md-12">
    <center class="anek-popular">Все рубрики с анекдотами</center>
</div>
<div class="col-md-12">
    <center><img src="/static/dizain/popural-category.png"></center>
</div>
{% for rubrics, anekdot, rubric_count, back_count in all_rubrics %}
<div class="col-md-6">
    <div class="div-top-rubric div-top-rubric-{{ back_count }}">
        <div class="anek-count">{{ rubric_count }}</div>
        <div class="anek-title">{{ rubrics.titl_for_top }}</div>
        <div class="anek-rubric">все <a href="{{ site.url }}/{{ rubrics.url }}"><img src="/static/dizain/go-to-rubric.png"></a></div>
    </div>
    <div class="div-top-rubric-anek">
        <div class="like-anekdot">
            {{ anekdot.rating }}<img src="/static/dizain/heart-like.png">
        </div>
        <div class="like-anekdot-text">
            <div class="like-anekdot-text-1">
                {% autoescape off %}{{ anekdot.text|truncatechars:140 }}{% endautoescape %}
                {% if anekdot.text|length > 140 %}
                <a href="{{ site.url }}/{{ rubrics.url }}"><img src="/static/dizain/go-to-rubric.png"></a>
                {% endif %}
            </div>
        </div>
        <div class="share-icons">
            <div class="share" data-url="{{ site.url }}/anekdot/{{ anekdot.id }}" data-title="Заголовок страницы" data-description="{% autoescape off %}{{ anekdot.text|truncatechars:140 }}{% endautoescape %}"></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block pages %}
{% endblock %}