{% extends "main.html" %}
{% block meta %}
        <meta name="description" content="{% autoescape off %}{{ anekdot.text }}{% endautoescape %}">
        <title>{{ anekdot.rubric }}</title>
{% endblock %}
{% block content %}
<br>
<div class="col-md-12 anek-block">
    <div class="anekdot-header"><a href="{{ site.url }}/{{ anekdot.rubric.url }}">{{ anekdot.rubric.titl_for_top }}</a></div>
    <div class="anekdot">
        {% autoescape off %}{{ anekdot.text }}{% endautoescape %}<br>
        <div class="share share-div" data-url="{{ site.url }}/anekdot/{{ anekdot.id }}" data-title="Заголовок страницы" data-description="{% autoescape off %}{{ anekdot.text }}{% endautoescape %}"></div>
        <div class="ratio">
            <form method="POST">
                {% csrf_token %}
                {% if username.is_authenticated %}
                <span id="anek_korzina{{ anekdot.id }}"></span>
                <span class="glyphicon glyphicon-plus btn add_korzina" id="{{ anekdot.id }}" type="submit" title="Добавить анекдот в корзину"></span>
                {% endif %}
                <span class="glyphicon glyphicon glyphicon-thumbs-up btn like" id="{{ anekdot.id }}" type="submit" title="Нравится анекдот"></span>
                <span id="anek{{ anekdot.id }}">{{ anekdot.rating }}</span>
                <span class="glyphicon glyphicon glyphicon-thumbs-down btn unlike" id="{{ anekdot.id }}" type="submit" title="Не нравится анекдот"></span>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block pages %}
{% endblock %}