<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/mystyle.css" />
    <link rel="shortcut icon" href="/static/favicon.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        <meta name="description" content="Смешные анекдоты в большом ассортименте на разные темы. Шутки найдутся для каждого! Собери свою коллекцию любимых анекдотов.">
        <meta name="keywords" content="смешные короткие анекдоты, афоризмы, шутки">
        <title>Смешные анекдоты на разные темы</title>
    {% endblock %}
</head>
<body ng-app="menu" ng-controller="MenuController as menuctrl">
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-default">
            <!--<div class="container-fluid">-->
                <div class="col-md-3 col-sm-3">
                    <div class="navbar-header">
                        <a href="{{ site.url }}"><img src="/static/dizain/logo-for-site.png"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="navbar-header">
                            <div class="header2">
                                <div class="header3">Смех не только продлевает жизнь</div>
                                <div class="header4">Но и поднимает настроение</div>
                            </div>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                            <span class="sr-only">Разделы</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="collapse navbar-collapse" id="responsive-menu">
                        <ul class="nav navbar-nav menu" ng-init="menuctrl.selectTab({% if menuinfo %}{{ menuinfo.id }}{% else %}1{% endif %})">
                            <li ng-class="{ active:menuctrl.isSelected(1) }">
                                    <a href="{{ site.url }}/" ng-click="menuctrl.selectTab(1)" ng-class="{ active:menuctrl.isSelected(1) }">Анекдоты</a>
                            </li>
                            {% for men in menu %}
                                <li ng-class="{ active:menuctrl.isSelected({{men.id}}) }">
                                    <a href="{{ site.url }}/{{ men.url }}" ng-click="menuctrl.selectTab({{men.id}})" ng-class="{ active:menuctrl.isSelected({{men.id}}) }">{{men.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>
<div class="container-fluid main-content-block">
    <div class="row">
        <div class="col-md-7 col-md-offset-1">
            {% if username.is_authenticated %}
                <a href='/auth/logout/' type="button" class="btn btn-info">Выйти {{ username }}</a>
                <a href='/my-anekdots/' type="button" class="btn btn-info">Мои анекдотики</a>
                <a href='/my-top-anekdots/' type="button" class="btn btn-info">Мой ТОП-9 анекдотов</a>
            {% else %}
            {% block enter %}
                <!--<a href='/auth/login/' type="button" class="btn btn-info">Войти</a>-->
                <a type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Войти</a>
                <a href='/auth/register/' type="button" class="btn btn-default" title="Зарегистрируйтесь и создайте свою коллекцию анекдотов">Зарегистрироваться</a>
                Собери любимые анекдоты в одном месте!
            {% endblock %}
            {% endif %}
            {% block login %}
            {% endblock %}
            {% block reset %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            <form role="search" action="{% url 'search' %}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск анекдота" name="search-text">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-9 col-md-offset-1">
            <div class="row">
                {% block content %}
                    <div class="col-md-12">
                        <div class="row">
                            {% include 'best_rubric.html' %}
                        </div>
                        <br>
                        <center><a href="{{ site.url }}/all-rubrics">Все рубрики</a></center>
                    </div>
                    <div class="col-md-12">
                            <h1>Анекдоты на разные темы</h1>
                    </div>
                    {% for anekdot in anekdots_page %}
                        <div class="col-md-12 anek-block">
                            <div class="anekdot-header"><a href="{{ site.url }}/{{ anekdot.rubric.url }}">{{ anekdot.rubric.titl_for_top }}</a></div>
                            <div class="anekdot">
                                {% autoescape off %}{{ anekdot.text }}{% endautoescape %}<br>
                                <div class="share share-div" data-url="{{ site.url }}/anekdot/{{ anekdot.id }}" data-title="Заголовок страницы" data-description="{% autoescape off %}{{ anekdot.text }}{% endautoescape %}"></div>
                                <div class="ratio">
                                    <form method="POST">
                                        {% csrf_token %}
                                        {% if username.is_authenticated %}
                                            <span id="anek_korzina{{ anekdot.id }}"></span>
                                            <span class="glyphicon glyphicon-plus btn add_korzina" id="{{ anekdot.id }}" type="submit" title="Добавить анекдот в корзину"></span>
                                        {% endif %}
                                        <span class="glyphicon glyphicon glyphicon-thumbs-up btn like" id="{{ anekdot.id }}" type="submit" title="Нравится анекдот"></span>
                                        <span id="anek{{ anekdot.id }}">{{ anekdot.rating }}</span>
                                        <span class="glyphicon glyphicon glyphicon-thumbs-down btn unlike" id="{{ anekdot.id }}" type="submit" title="Не нравится анекдот"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
                <div class="col-md-12">
                    {% block pages %}
                        {% include 'pages.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-md-2 sidebar">
                {% include 'sidebar.html' %}
        <div class="about-rubric">
            {% block about_rubric %}
            <h3>Анекдоты на разные темы:</h3>
            {% autoescape off %}{{ site.descr }}{% endautoescape %}
            {% endblock %}
        </div>
    </div>
    </div>
</div>

            <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Войти в свой аккаунт</h4>
      </div>
      <div class="modal-body">
          <form class="login" action="/auth/login/" method="POST">
        {% csrf_token %}
        <!--<label for="username">Имя пользователя</label>-->
        <!--<input type="text" name="username" i d="username">-->
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <!--<label for="password">Имя пользователя</label>-->
        <!--<input type="password" name="password" id="password">-->
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>

        <input class="button" id='login' type="submit" value="Войти">
              <a href='/user/password/reset/'>Забыли пароль?</a>
              <div id="error"></div>
    </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid footer">

</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35617820 = new Ya.Metrika({
                    id:35617820,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/35617820" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/angular/angular.min.js"></script>
<script src="/static/angular/app.js"></script>
<script src="/static/myscripts/myjs.js"></script>
<script src="/static/myscripts/myshare.js"></script>
</body>
</html>