{% extends "main.html" %}
{% block meta %}
        <meta name="description" content="{{ menuinfo.name }} onekdoti.ru. Много коротких и длиных анекдотов на разные темы.">
        <title>{{ menuinfo.name }} onekdoti.ru</title>
{% endblock %}
{% block content %}
    <div class="col-md-12">
        <h1>{{ menuinfo.name }}</h1>
        {% autoescape off %}{{ menuinfo.text }}{% endautoescape %}
    </div>
{% endblock %}
{% block pages %}
{% endblock %}