<div class="pagination">
    <span class="step-links">
        {% if anekdots_page.has_previous %}
            <a href="?page={{ anekdots_page.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ anekdots_page.number }} из {{ anekdots_page.paginator.num_pages }}.
        </span>

        {% if anekdots_page.has_next %}
            <a href="?page={{ anekdots_page.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>