{% extends "main.html" %}
{% block meta %}
    <meta name="description" content="{{ rubric.name }}. Короткие и длинные {{ rubric.name }} - только самые смешные. Собери свою коллекцию лучших анекдотов">
    <meta name="keywords" content="{{ rubric.name }}">
    <title>{{ rubric.name }}</title>
{% endblock %}
{% block content %}
    <h1>{{ rubric.name }}</h1>
    <img class="rubrik-img" src="/static/media/{{ rubric.photo }}" alt="{{ rubric.alt_photo }}">
    {% for anekdot in anekdots_page %}
        <div class="col-md-12 anek-block">
            <div class="anekdot-header"><a href="{{ site.url }}/{{ rubric.url }}">{{ rubric.titl_for_top }}</a></div>
            <div class="anekdot">
                {% autoescape off %}{{ anekdot.text }}{% endautoescape %}<br>
                <div class="share share-div" data-url="{{ site.url }}/anekdot/{{ anekdot.id }}" data-title="Заголовок страницы" data-description="{% autoescape off %}{{ anekdot.text }}{% endautoescape %}"></div>
                <div class="ratio">
                    <form method="POST">
                        {% csrf_token %}
                        {% if username.is_authenticated %}
                            <span id="anek_korzina{{ anekdot.id }}"></span>
                            <span class="glyphicon glyphicon-plus btn add_korzina" id="{{ anekdot.id }}" type="submit" title="Добавить анекдот в корзину"></span>
                        {% endif %}
                        <span class="glyphicon glyphicon glyphicon-thumbs-up btn like" id="{{ anekdot.id }}" type="submit" title="Нравится анекдот"></span>
                        <span id="anek{{ anekdot.id }}">{{ anekdot.rating }}</span>
                        <span class="glyphicon glyphicon glyphicon-thumbs-down btn unlike" id="{{ anekdot.id }}" type="submit" title="Не нравится анекдот"></span>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block about_rubric %}
    <h3>{{ rubric.name }}</h3><br>
    {% autoescape off %}{{ rubric.descr }}{% endautoescape %}
{% endblock %}