    <br>
    <div class="user-top-anekdot">
        {% for user_top, top_anekdot in users_top_anekdot %}
            <div class="top9-user">
                <center>Топ-9 от: {{ user_top.user.username }}</center>
                <div>
                    {% autoescape off %}{{ top_anekdot.text|truncatechars:140 }}{% endautoescape %}
                    {% if top_anekdot.text|length > 140 %}
                </div>
                Весь ТОП <a href="{{ site.url }}/my-top-anekdots/{{ user_top.user.username }}"><img src="/static/dizain/go-to-rubric.png"></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>